body
{ background: #2E3134;
  color: #000000;
}

h1, h2, h3{color: #D2DD15;}

.left, .right{border-color: #FFFFFF;}

blockquote
{ background: #FFFFFF;
  border-color: #000000;
}

.sidebar
{ background: #FFFFFF;
  color: #404040;
}

#main, h4, #content a, #content a:hover
{ background: transparent;
  color: #D2DD15;
}

#logo, #logo h1, #footer a, #footer a:hover
{ background: transparent;
  color: #000000;
  border-top: #FFFFFF 1px;  
}

ul#menu li a 
{ background: transparent;
  color: #FFFFFF;
  border-color: #000000;
} 

ul#menu li a:hover, ul#menu li a.current, ul#menu li a.current:hover
{ background: #000} 

.sidebaritem ul, .sidebaritem li{border-color: #404040;}

.sidebaritem li a, .sidebaritem li a:hover
{ background: transparent;
  color: #D2DD15;  
} 

.sidebaritem li a.current, .sidebaritem li a:hover, .sidebaritem li a.current:hover
{ background: transparent url(img/arrow_select.png) no-repeat left center;} 

#menubar, #footer
{ background: transparent;
  color: #FFFFFF;
  border-color: #404040;
}

#footer
{ background: transparent;
  color: #FFFFFF;
  border-color: #404040;
}

/* sNews */
fieldset, .comment, .commentsbox
{ background: transparent; 
  color: #404040;
}

fieldset, .date{border-color: #D1E4F3;}

.comment
{ background:404040;
}

